@import './markdown.css';
@import './loading.css';

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    transition: background ease 0.3s;
    font-weight: 500;
}

html.dark {
    background: #1f2937;
}


.btn {
    @apply px-4 py-1 rounded inline-block
    bg-teal-500 text-white cursor-pointer
    hover:bg-teal-600
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
    @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
    font-size: 0.9em;
}
